<div>
    <label for="table-sort">Sort by Ascending</label>
    <select id="table-sort" [ngModel]="sortByColumn" (ngModelChange)="onSortChange($event)">
        <option *ngFor="let header of validSortingHeaders()" [ngValue]="header">{{header.title}}</option>
    </select>
</div>
<div>
    <label for="table-filter-options">Filter Column:</label>
    <select id="table-filter-options" [ngModel]="filterByColumn" (ngModelChange)="onFilterColumnChange($event)">
        <option *ngFor="let header of validFilteringHeaders()" [ngValue]="header">{{header.title}}</option>
    </select>
    <label for="table-filter">Filter by Text:</label>
    <input id="table-filter" type="text" [ngModel]="filterText" (ngModelChange)="onFilterTextChange($event)">
</div>
<div>
    <table style="width:100%">
        <tr>
            <th *ngFor="let header of columnHeaders">{{header.title}}</th>
        </tr>
        <tr *ngFor="let movie of movies">
            <td>{{movie.title}}</td>
            <td>{{movie.voteCount}}</td>
            <td>
                <span *ngIf="!voteIsEditable">{{movie.averageVote}}</span>
                <input *ngIf="voteIsEditable" type="text" [formControl]="averageVote">
            </td>
            <td>{{movie.popularity}}</td>
            <td>
                <img [src]="movie.poster" alt="MOVIE POSTER" />
            </td>
            <td>{{movie.overview}}</td>
            <td>
                <input type="checkbox" [checked]="movie.favorite" (change)="movie.favorite = !movie.favorite">
            </td>
            <td>
                <button (click)="deleteMovie(movie)">Delete</button>
            </td>
        </tr>
    </table>
</div>